@import play.api.libs.ws.WSResponse ; 	var parsedResponse: Array[String] =null;

@import play.api.libs.json.JsValue



@(chatMsg:String, autoResponse: JsValue)(implicit request: RequestHeader, m: Messages)




@main("ChatBot POC") {

<form action="/chat" method="POST" >
    
<dl>
    <dt><label for="title">Chat Message (type "start over" if the conversation goes awry)</label></dt>
    <dd>
    	<input type=text id="chatMsg" rows="8" name="chatMsg" value="" placeholder="Chat message" /> 
    	<br/>
    	<input type=submit value=Send name=submit />
    	<iinput type="button" name="submit" value="Send" onClick="submitForm(this.parentNode, validateChatForm);" />
    </dd>
</dl>



</form>
<p/>
<dl >
	<dt>Automatic Chat Response</dt>
	@showResponse

</dl>

}

@showResponse = {
	@if( autoResponse != null) {
	@{parsedResponse = parseWSResponse (autoResponse)}
	
	<dd>
	
    <div class=commentblock>
    	<div style="white-space: pre-line" class="comment sentiment-@parsedResponse(2)">me: @chatMsg </div>
    </div>
    <br/>
   	<div class=commentblock >
    	<div style="white-space: pre-line" class="comment" >chatbot: @parsedResponse(0) </div>
    	@if(parsedResponse(1)!=null) {
    		<img src="@parsedResponse(1)"  style="height:228px;">
    	}
 	</div>
	</dd>
 	}
 	
} 

@parseWSResponse(wsResponse: JsValue)  = @{
	val empty = Array("" , null, "neutral")
	try {
	val imgURLSeq = wsResponse \ "response" \ "result" \ "fulfillment" \ "messages" \\ "image"
    val imgURL = { if (imgURLSeq.length == 1) { imgURLSeq(0).as[String] } else { null } }
    
    val chatResponse = (( wsResponse \ "response" \ "result" \ "fulfillment" \ "speech").as[String])
    val sentiment = (( wsResponse \ "sentiment" \ "label").as[String])
    val actionResult = (( wsResponse \ "actionResult" \ "speech").as[String])

    Array(chatResponse+ " " + actionResult , imgURL, sentiment)
    }
    catch {
    	case e: Exception => empty
    }
    finally
    {
    	empty
    }
}