@(chatMsg:String, autoResponse: String)(implicit request: RequestHeader, m: Messages)

@main("ChatBot POC") {

<form action="/chat" method="POST" >
    
<dl>
    <dt><label for="title">Chat Message</label></dt>
    <dd>
    	<input type=text id="chatMsg" rows="8" name="chatMsg" value="" placeholder="Chat message" > </input>
    	<br/>
    	
    	<input type="submit" value="Send" />
    	
	</dd>
</dl>



</form>
<p/>
<dl >
	<dt>Automatic Chat Response</dt>
    <dd>
    <div class=commentblock>
    <div style="white-space: pre-line" class=comment>@chatMsg </div>
     </div>
     <br/>
 <div class=commentblock>
    <div style="white-space: pre-line" class=comment>@autoResponse</div>
 </div>
	</dd>
</dl>

}
